/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "./scss/theme.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat";
  min-height: 100vh;
  color: $dark;
  box-sizing: border-box;
}

.logo {
  width: 100%;
  max-width: 500px;
}

.ck-editor__editable_inline {
  min-height: 200px !important;
}
.ck p,
.ck span,
.ck small,
.ck strong,
.ck h1,
.ck h2,
.ck h3,
.ck h4,
.ck h5,
.ck h6,
.ck li {
  color: black;
}

.typewriter p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #52002c; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #52002c;
  }
}
