$primary: #52002c;
$secondary: #420039;
$info: #4e1b9b;
$success: #12703d;
$warning: #aeb913;
$danger: #9b1b1b;
$light: #c4c4c4;
$dark: #494949;
$white: white;
$black: black;

$sidebar-primary: $primary;
$sidebar-primary-text: $white;
$sidebar-light: $light;
$sidebar-light-text: $dark;
$sidebar-dark: $dark;
$sidebar-dark-text: $light;
